.Pokedex-cards {
  margin: 1rem;
  padding: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Pokedex-data {
  font-size: 80%;
}
.Pokedex-Winner {
  color: rgb(166, 240, 166);
}
.Pokedex-Loser {
  color: rgb(241, 135, 135);
}
